* {
  margin: 0%;
  padding: 0%;
}
.navbar {
  background-color: #535962;
  @media screen and (min-width: 576px) {
    & .nav-link {
      padding: 15px;
      font-size: large;
      font-weight: bold;
      color: white;
    }
  }
  @media screen and (max-width: 476px) {
    .nav-link {
      padding: 5px;
      font-size: large;
      font-weight: bold;
      color: white;
    }
  }
}
.link-effect-3 a {
  padding: 10px 0;
  margin: 0 12px;
  color: #797878;
  text-shadow: none;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.link-effect-3 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 3px solid #00a78e;
  color: #00a78e;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.link-effect-3 a:hover::before {
  max-width: 100%;
}
